.work {
    width : 100%;
    text-align : center;
    margin: 30px 0px;  
}

.main_box {
    height : 190px;
    padding : 30px 0px;
    border-radius : 10px;  
    transition: transform 0.5s;
    cursor : pointer;
    -webkit-box-shadow: 0px 0px 25px 0px #d1c4e9;
    -moz-box-shadow: 0px 0px 25px 0px #d1c4e9;
    box-shadow: 0px 0px 25px 0px #d1c4e9;
    transform: scale(1.02);
}

.main_box h4{
    margin-top : 25px;
    font-size : 14pt;
    font-weight : 800;
    font-family:  Helvetica, sans-serif;
    color : #a333c8;
}
